.main {
  width: 100%;
  background-color: gray;
  padding: 100px 0;
  display: flex;
  justify-content: center;
}

.score_container {
  width: 750px;
  height: 160px;
  background-color: bisque;
  border-radius: 15px;
}
